.main-content{
  padding-left:0px;
  width: 100%;
  transition: padding-left .5s;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 40px;
  grid-area: main;
  min-height: 100vh
}

.wrapper.menuDisplayed .main-content{
  transition: padding-left .5s;
}


.wrapper{
  min-height: 100%;
  white-space: pre-wrap;
  display: grid;
  position: relative;
  grid-template-columns: [content-start] min-content [mid-content] auto [end-content];
  grid-template-rows: 80px 2fr 30px;
  grid-template-areas: 
  "navbar navbar"
  "main main"
  "footer footer";

}

.footer{
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: black;
  color: white;
  grid-area: footer;
}

.root{
  width: 100%;
}
#root{
  width: 100%;
}
#shadow-root{
  width: 100%;
}