.navbar {
  background: #303030;
  display: grid;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  grid-template-rows: 60px;
  margin-bottom: 0px;
  grid-area: navbar;
  border-radius: 0px;
}

.navbar::before{
  content: none;
}
.navbar::after{
  content: none;
}
.left-menu{

}


.navbar h1{
  display: inline-block; 
  text-align: right;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 0 0 0;
  align-self: auto;
  color: white
}
.navbar-button{
  vertical-align: middle;
  -ms-flex-positive: 1;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 111px;
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Open Sans', sans-serif;

}
.navbar p{
  margin: 0 0 0 0;
  -ms-flex-item-align: auto;
  align-self: auto;
  font-size: 20px;
  color: white
}
.login-form{
  display: grid;
  align-self: center;
  justify-items: flex-end;
  grid-template-columns: auto auto auto;
}
.form-input input{
  height: 32px;
}
.form-input label{
  
}
.login-form-wrapper{
  justify-self: flex-end;
  display: grid;
  grid-template-columns: auto auto;
}
.login-form-div{
  justify-self: flex-end;
}
.logout-class{
  text-align:right;
  cursor: pointer;
}
.form-input{
  align-self: end;
  margin-right: 10px;
}
.glyphicon{
  vertical-align: middle;
}
.logo{
  vertical-align: middle;
  display: inline;
  margin-left: 5px;
  font-size: 32px;
}

@media screen and (max-width: 590px){
  .left-menu{
    display: none;
  }
  .login-form-div{
    margin: auto;
    justify-self: center;
  }
  .logout-class{
    text-align: center;
  }
  .navbar{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px){



  .login-form{
  }
  #username{
    width: 99%;
  }
  #password{
    width: 99%;
  }
  
}

.login-button{
  height: 32px;
  align-self: center;
  justify-self: left;
  background-color: #2dbe60;
  border: none;
  color: white;
  margin-right: 10px;
}

.login-button:hover{
  background-color: #0d9f40; 
}