.total-question-ul{
  min-width: 250px;
  border: 0px;
  border: 1px solid #ebebeb;
}
.asked-question{
  font-size: 13px;
  flex-wrap: wrap;
}
.topic-header{
  margin: auto;
  display: block;
  margin-bottom: 15px;
}
.topic-header-wrapper{
  display: block;
  text-align: center;
}

.all-questions-header{
  background-color: #00547A;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(15%,15%) minmax(50%,50%) minmax(20%,20%) minmax(15%,15%);
  height: 100%;

}

.all-questions-user{}

.all-questions-question{
  border-top: none
}


.all-questions-last-post{
  justify-self: center;
}

.all-questions-comment-count{
  overflow: hidden;
}


.all-question-user{
  text-align: left;
  display: inline;
}

.all-question-question{
  display: block;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35px;
  color: #2dbe60;
  font-size: 16px;
  cursor: pointer;
}

.all-question-question p{
  /* overflow: hidden;
  width: 315px; */
}

.all-question-last-post{
  border-right: 1px solid gray;
  border-top: none;
  text-align: center;
  padding: 5px;
}

.all-question-comment-count{
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}
.total-questions-wrapper{
  overflow-wrap: break-word;
  height: 100px;
  overflow: hidden;
  padding: 15px 10px 15px 10px;
}

.total-questions-wrapper:nth-child(even){
  background-color: #f9fafa;
}

.user-picture{
  margin: auto;
  display: block;
}
.outer-padding{
  margin: auto;
  margin-top: 10px;
  width: 98%;
}

.questions-header{
  display: grid;
  grid-template-rows: 50px 8fr;
  margin: auto
}

@media screen and (max-width: 365px){
  .user-picture{
    height: 36px;
    width: 36px;
    margin: auto;
    
  }
  .user-tag p{
    font-size: 10px;
  }
}