#firstName{
  border: none;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  padding: 5px;
}

#lastName{
  border: none;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  padding: 5px;
}

#userName{
  border: none;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  padding: 5px;
}

#passWord{
  border: none;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  padding: 5px;
}

#password-confirm-form{
  border: none;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  padding: 5px;
}

.register-form{
  grid-template-columns: 15px 1fr 15px 1fr;
  display: grid;
  grid-gap: 10px;
}

.submit-register-button{
  width: 150px;
  margin-top: 30px;
  padding: 5px;
  background-color: #2dbe60;
  margin-bottom: 30px;
  color: white;
  font-size: 18px;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: center;
}

.submit-register-button:hover{
  background-color: #0d9f40;
}
.register-form-wrapper{
  width: 100%;
  margin: auto;
}

.label-float{
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 29px;
}

.register-header{
  text-align: center;
  color: #2dbe60;
}

@media screen and (max-width: 365px){
  .label-float{
    display: none;
  }
  .register-form{
    grid-template-columns: 1fr;
  }
  .submit-register-button{
    grid-column-start: 1;
  }
}