.user-tag{
  background-color: #E9E9E9;
  color: black;
  font-size: 14px;
}
.user-tag-wrapper{
  display: grid;
  grid-template-rows: 30px 60px;
  grid-gap: 25px;
  align-items: center;
}
.user-tag p{
  font-size: 12px;
  text-align: center;
}
.user-tag p p{
}
.usertag-comment p{
  padding: 5px;
}