.user-tag{
  color: #aeb6b8;
  font-size: 14px;
  text-align: left;
}
.user-tag-wrapper{

}
.user-green{
  color: #2dbe60;
}
.user-tag p{
  font-size: 12px;
  max-width: 100%;
  word-break: break-word;
  margin-top: 5px;
}
.user-tag p p{
}
.usertag-comment p{
  padding: 5px;
}